<!-- qa_entries.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QA Entries</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="fade-in-element">QA Entries</h1>
        <ul class="qa-list">
            {% for qa_entry in qa_entries %}
                <li class="slide-in-left-element">
                    <h3>{{ qa_entry.question }}</h3>
                    <p>{{ qa_entry.answer }}</p>
                    <p>Tag: {{ qa_entry.tag }}</p>
                    <a href="{{ url_for('edit_qa_entry', qa_entry_id=qa_entry.id) }}" class="hover-effect"><i class="fas fa-edit"></i></a>
                    <form action="{{ url_for('delete_qa_entry', qa_entry_id=qa_entry.id) }}" method="post" style="display: inline;">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="button"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
